<% provide(:title, t("home_page.text_title")) %>
<div class="row justify-content-center">
  <div class="col-lg-12">
    <div class="main_title">
      <h2><span><%= t "home_page.title_page" %></span></h2>
      <p><%= t "home_page.title_description" %></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="new_product">
      <h5 class="text-uppercase"><%= t "home_page.title_subtitle" %></h5>
      <h3 class="text-uppercase"><%= t "home_page.title_des" %></h3>
      <div class="product-img">
        <img class="img-fluid" src="img/product/new-product/new-product1.png" alt="" />
      </div>
      <h4><%= t "home_page.text_price" %></h4>
      <li><%= link_to t("home_page.btn_addcart"), "#", class: "main_btn" %></li>
    </div>
  </div>
  <div class="col-lg-6 mt-5 mt-lg-0">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="single-product">
          <div class="product-img">
            <img class="img-fluid w-100" src="img/product/new-product/n1.jpg" alt="" />
          </div>
          <div class="product-btm">
            <a href="#" class="d-block">
              <h4><%= t "home_page.text_product" %></h4>
            </a>
            <div class="mt-3">
              <span class="mr-4"><%= t "home_page.text_price" %></span>
              <del><%= t "home_page.text_price" %></del>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="single-product">
          <div class="product-img">
            <img class="img-fluid w-100" src="img/product/new-product/n2.jpg" alt="" />
          </div>
          <div class="product-btm">
            <a href="#" class="d-block">
             <h4><%= t "home_page.text_product" %></h4>
           </a>
           <div class="mt-3">
            <span class="mr-4"><%= t "home_page.text_price" %></span>
            <del><%= t "home_page.text_price" %></del>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="single-product">
        <div class="product-img">
          <img class="img-fluid w-100" src="img/product/new-product/n3.jpg" alt="" />
        </div>
        <div class="product-btm">
          <a href="#" class="d-block">
           <h4><%= t "home_page.text_product" %></h4>
         </a>
         <div class="mt-3">
          <span class="mr-4"><%= t "home_page.text_price" %></span>
          <del><%= t "home_page.text_price" %></del>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6">
    <div class="single-product">
      <div class="product-img">
        <img class="img-fluid w-100" src="img/product/new-product/n4.jpg" alt="" />
      </div>
      <div class="product-btm">
        <a href="#" class="d-block">
         <h4><%= t "home_page.text_product" %></h4>
       </a>
       <div class="mt-3">
        <span class="mr-4"><%= t "home_page.text_price" %></span>
        <del><%= t "home_page.text_price" %></del>
      </div>
    </div>
  </div>
</div>
