 <section class="cat_product_area section_gap">
  <div class="container">
    <div class="row flex-row-reverse">
      <div class="col-lg-9">
        <div class="col-lg-3">
          <div class="left_sidebar_area">
            <aside class="left_widgets p_filter_widgets">
              <div class="l_w_title">
                <h3><%= t "category.title_aside" %></h3>
              </div>
              <div class="widgets_inner">
                <ul class="list">
                  <li><%= link_to t("category.text_category_Pacifico"), "#" %></li>
                  <li><%= link_to t("category.text_category_Stella"), "#" %></li>
                  <li><%= link_to t("category.text_category_budweiser"), "#" %></li>
                  <li><%= link_to t("category.text_category_Miller"), "#" %></li>
                  <li><%= link_to t("category.text_category_Tsingtao"), "#" %></li>
                  <li><%= link_to t("category.text_category_Murphys"), "#" %></li>
                  <li><%= link_to t("category.text_category_Quimes"), "#" %></li>
                  <li><%= link_to t("category.text_category_Guinness"), "#" %></li>
                  <li><%= link_to t("category.text_category_Birra Moretti"), "#" %></li>
                </ul>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
