<footer class="footer-area section_gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-3 single-footer-widget">
        <h4><%= t "layout_footer.text_top_product" %></h4>
        <ul>
          <li><%= link_to t("layout_footer.text_footer_link"), "#" %></li>
          <li><%= link_to t("layout_footer.text_footer_link"), "#" %></li>
          <li><%= link_to t("layout_footer.text_footer_link"), "#" %></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 single-footer-widget">
        <h4><%= t "layout_footer.text_top_product" %></h4>
        <ul>
          <li><%= link_to t("layout_footer.text_footer_link"), "#" %></li>
          <li><%= link_to t("layout_footer.text_footer_link"), "#" %></li>
          <li><%= link_to t("layout_footer.text_footer_link"), "#" %></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 single-footer-widget">
        <h4><%= t "layout_footer.text_top_product" %></h4>
        <ul>
         <li><%= link_to t("layout_footer.text_footer_link"), "#" %></li>
         <li><%= link_to t("layout_footer.text_footer_link"), "#" %></li>
         <li><%= link_to t("layout_footer.text_footer_link"), "#" %></li>
       </ul>
     </div>
     <div class="col-lg-2 col-md-6 single-footer-widget">
      <h4><%= t "layout_footer.text_top_product" %></h4>
      <ul>
        <li><%= link_to t("layout_footer.text_footer_link"), "#" %></li>
        <li><%= link_to t("layout_footer.text_footer_link"), "#" %></li>
        <li><%= link_to t("layout_footer.text_footer_link"), "#" %></li>
      </ul>
    </div>
    <div class="col-lg-2 col-md-6 single-footer-widget">
      <h4><%= t "layout_footer.text_top_product" %></h4>
      <ul>
        <li><%= link_to t("layout_footer.text_footer_link"), "#" %></li>
        <li><%= link_to t("layout_footer.text_footer_link"), "#" %></li>
        <li><%= link_to t("layout_footer.text_footer_link"), "#" %></li>
      </ul>
    </div>
    <div class="footer-bottom row align-items-center">
      <p class="footer-text m-0 col-lg-8 col-md-12">
       <%= t "layout_footer.text_design" %>
     </p>
   </div>
 </div>
</div>
</footer>
