<header class="header_area">
  <div class="top_menu">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="float-left">
            <p><%= t "layout_header.text_phone" %></p>
            <p><%= t "layout_header.text_email" %></p>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="float-right">
            <ul class="right_side">
              <% if user_signed_in? %>
              <li><%= link_to current_user.username, profile_user_path(current_user.id) %></li>
              <li><%= link_to t("layout_header.text_link_log_out"), logout_path, method: :delete %></li>
              <% else %>
              <li><%= link_to t("layout_header.text_link_log_in"), login_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="main_menu">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
          <%= link_to root_path, class: "navbar-brand" do %>
          <h2 class="main_title">
            <%= t "layout_header.main_title" %>
          </h2>
          <% end %>
          <div class="collapse navbar-collapse offset w-100" id="navbarSupportedContent">
            <div class="row w-100 mr-0">
              <div class="col-lg-7 pr-0">
                <ul class="nav navbar-nav center_nav pull-right">
                  <li class="nav-item active">
                    <%= link_to t("layout_header.text_menu_home"), root_path, class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                   <%= link_to t("layout_header.text_menu_category"), products_path, class: "nav-link" %>
                 </li>
                 <li class="nav-item">
                  <% if session[:cart].length > 0 %>
                    <%= link_to carts_path, class: "nav-link" do %>
                    <%= t("layout_header.text_menu_cart") %>
                    <%= session[:cart].length %>
                    <% end %>
                  <% else %>
                     <%= link_to t("layout_header.text_menu_cart"), carts_path,
                      class: "nav-link" %>
                <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
