<% provide(:title, t("carts.text_cart_title")) %>
<section class="cart_area">
  <div class="container">
    <div class="cart_inner">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"><%= t "carts.text_column_image" %></th>
              <th scope="col"><%= t "carts.text_column_name" %></th>
              <th scope="col"><%= t "carts.text_column_price" %></th>
              <th scope="col"><%= t "carts.text_column_quantity" %></th>
              <th scope="col"><%= t "carts.text_column_total" %></th>
              <th scope="col"><%= t "carts.text_column_edit" %></th>
            </tr>
          </thead>
          <tbody>
            <% session[:cart].each do |id, quantity| %>
            <% find_product id %>
            <tr>
              <td>
                <div class="media">
                  <div class="d-flex">
                    <%= image_tag @product.display_image if @product.image.attached? %>
                  </div>
                </div>
              </td>
              <td>
                <p><%= @product.name %></p>
              </td>
              <td>
                <h5><%= number_to_currency(@product.unit_price) %></h5>
              </td>
              <td>
                <div class="product_count">
                  <h3> <%= quantity %></h>
                  </div>
                </td>
                <td>
                  <h5><%= number_to_currency(total(quantity, @product.unit_price)) %></h5>
                </td>
                <td>
                  <%= link_to t("carts.text_delete"), remove_from_cart_path(id), method: :delete %>
                </td>
              </tr>
              <% end %>
              <tr>
                <td></td>
                <td></td>
                <td>
                  <h3><%= t "carts.text_subtotal" %></h3>
                </td>
                <td>
                  <h3><%= number_to_currency(sub_total) %></h3>
                </td>
                <td>
                  <div class="cupon_text">
                    <%=  link_to t("carts.text_checkout"), new_purchase_path, class: "main_btn" %>
                  </div>
                </td>
              </tr>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
