<div class="nested-fields">
  <fieldset>
    <legend><%= t "categories.title" %></legend>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, id: :name, class: "form-control" %>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :quantity %>
          <%= f.text_field :quantity, id: :quantity, class: "form-control" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :unit_price %>
          <%= f.text_field :unit_price, id: :price, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, id: :description, class: "form-control" %>
    </div>
  </fieldset>
  <%= link_to_remove_association t("categories.link_remove_product"), f %>
</div>
