<% provide(:title, t("products.title_page")) %>
<% provide(:button_text, t("products.text_button_add")) %>
<div class="table-wrapper">
  <div class="table-title">
    <div class="row">
      <div class="col-sm-5">
        <h2> <b><%= t "admin_products.title_table" %></b></h2>
      </div>
      <div class="col-sm-7">
        <%= link_to new_admin_product_path, class: "btn btn-primary" do %>
        <span><%= t "admin_products.text_button_add" %></span>
        <% end %>
        <div class="form-group">
        <%= form_tag import_admin_products_path, multipart: true do %>
          <%= file_field_tag :file, accept: Settings.excel %>
          <%= submit_tag t("admin_products.text_button_import")%>
        <% end %>
      </div>
      </div>
    </div>
  </div>
  <table class="table table-striped table-hover">
    <div class="product_top_bar">
      <%= search_form_for([:admin, @q], class: "navbar-form form-inline") do |f| %>
        <%= f.condition_fields do |c| %>
          <div class="field">
            <%= c.attribute_fields do |a| %>
              <%= a.attribute_select associations: [:category] %>
            <% end %>
            <%= c.predicate_select %>
            <%= c.value_fields do |v| %>
              <%= v.text_field :value %>
            <% end %>
          </div>
        <% end %>
        <%= submit_tag t("products.text_btn_search"), class: "btn btn-primary" %>
      <% end %>
    </div>
    <thead>
      <tr>
        <th><%= t "admin_products.text_dau" %></th>
        <th><%= sort_link @q, :name, t("admin_products.text_name") %></th>
        <th><%= t "admin_products.text_category" %></th>
        <th><%= sort_link @q, :unit_price, t("admin_products.text_unit_price") %></th>
        <th><%= t "admin_products.text_quantity" %></th>
        <th><%= t "admin_products.text_descriptiom" %></th>
        <th><%= t "admin_products.text_edit" %></th>
      </tr>
    </thead>
    <tbody>
    </div>
      <% if @products.any? %>
        <%= render @products%>
      <% end %>
    </thead>
  </table>
  <div class="clearfix">
    <div class="hint-text">
      <%= t "products.text_showing" %>
      <b><%= Settings.per_page %></b>
      <%= t "products.text_out_of" %>
      <b><%= @products.count %></b>
      <%= t "products.text_record" %>
    </div>
    <%= will_paginate @products, class: "page-item" %>
  </div>
</div>
