<p><%= t "mailer.text_hello" %> <%= @resource.email %>!</p>
<p><%= t "mailer.text_p" %>
</p>
<p><%= link_to "mailer.text_btn_link",
  edit_password_url(@user, reset_password_token: @token) %></p>
<p><%= t "mailer.text_p2" %></p>
<p><%= t "mailer.text_p3" %></p>
