<% provide(:title, t("products.title_page")) %>
<section class="cat_product_area section_gap">
  <div class="container">
    <div class="row flex-row-reverse">
      <%= render "shared/categories" %>
      <div class="col-lg-9">
        <div class="product_top_bar">
          <%= form_tag(products_path, method: :get, class: "navbar-form form-inline") do %>
            <div class="input-group search-box">
              <%= text_field_tag(:term, params[:term]) %>
            </div>
            <%= submit_tag t("products.text_btn_search"), class: "btn btn-primary" %>
          <% end %>
        </div>
        <%= render "shared/feed" %>
      </div>
    </div>
  </div>
</section>
