<% provide(:title, t("product_detail.title_page")) %>
<div class="product_image_area">
  <div class="container">
    <div class="row s_product_inner">
      <div class="col-lg-6">
        <div class="s_product_img">
          <% if @product.image.attached? %>
          <%= image_tag(@product.image) %>
          <% end %>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <div class="s_product_text">
          <h3><%= @product.name %></h3>
          <h2><%= number_to_currency(@product.unit_price) %></h2>
          <ul class="list">
            <li>
              <a class="active" href="#"><span>Category</span>: <%= @product.category.name %></a>
            </li>
          </ul>
          <p>
            <%= @product.description%>
          </p>
          <div class="card_area">
            <a class="main_btn" href="#">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
