<% provide(:title, t("checkout.title_page")) %>
<div class="col-sm-9">
  <hr>
  <%= form_for [:profile, @user], class: "form" do |f| %>
    <%= render "admin/shared/error_messages", object: f.object%>
    <div class="form-group">
      <div class="col-xs-12">
        <label for="first_name"><h4><%= t "profile.lb_name" %></h4></label>
        <%= f.text_field :username, id: :username,
          class: "form-control", placeholder: true %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-6">
        <label for="phone"><h4><%= t "profile.lb_phone" %></h4></label>
        <%= f.text_field :phone_number, id: :phone_number,
          class: "form-control", placeholder: true %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-6">
       <label for="email"><h4><%= t "profile.lb_email" %></h4></label>
        <%= f.text_field :email, id: :email,
          disabled: true, class: "form-control", placeholder: true %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <label for="address"><h4><%= t "profile.lb_address" %></h4></label>
          <%= f.text_field :address, id: :address,
            class: "form-control", placeholder: true %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-6">
        <label for="password2"><h4><%= t "<profile.lbl_image" %></h4></label>
          <%= f.file_field :image, id: :image, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <br>
        <%= f.submit t("profile.btn_save"), class: "btn btn-lg btn-success" %>
      </div>
    </div>
  <% end %>
</div>
