<!DOCTYPE html>
<html>
<head>
  <title><%= t "admin.title" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
</head>

<body>
  <%= render "shared/header" %>
  <%= render "shared/banner" %>
  <section class="new_product_area section_gap_top section_gap_bottom_custom">
    <div class="container">
      <p><%= link_to t("application.text_english"), locale: :en %>
        <%= link_to t("application.text_vietnamese"), locale: :vi %>
        <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
      </p>
      <%= yield %>
    </div>
  </section>
  <%= render "shared/footer" %>
</body>
</html>
