<!DOCTYPE html>
<html>
<head>
  <title> <%= full_title yield :title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
</head>

<body>
  <%= render "shared/header" %>
  <%= render "shared/banner" %>
  <section class="new_product_area section_gap_top section_gap_bottom_custom">
    <div class="container">
      <%= yield %>
    </div>
  </section>
  <%= render "shared/footer" %>
</body>
</html>
